body {
  background: #aedea9;
}
.italic-pink {
  font-style: italic;
  color: #fa20bd;
}
.head {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  color: #000000;
  width: 1495px;
  height: 72px;
  left: 10px;
  top: 15px;
}
.title {
  box-sizing: border-box;
  width: 324px;
  height: 43px;
  left: 7px;
  top: 269px;
  background: #f48b8b;
  border: 1px solid #000000;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  line-height: 36px;
  color: #000000;
}
.text {
  font-family: "Inter";
  font-style: normal;
  color: #000000;
  font-size: 20px;
}
.bold {
  font-weight: bold;
}

.foot-link {
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 39px;
  color: #074c9e;
  font-weight: bold;
  text-decoration: none;
}
